networks:
  test:
    name: test

services:
  prometheus:
    image: prom/prometheus:v3.8.1
    command:
      - --web.enable-remote-write-receiver
      - --enable-feature=native-histograms
      - --config.file=/etc/prometheus/prometheus.yaml
    networks:
      - test
    ports:
      - "9090:9090"
    logging:
      driver: none
    volumes:
      - ./prometheus:/etc/prometheus/

  grafana:
    image: grafana/grafana:12.3.1
    networks:
      - test
    ports:
      - "3000:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_BASIC_ENABLED=false
    volumes:
      - ./grafana:/etc/grafana/provisioning/
    logging:
      driver: none
