on:
  workflow_call:
    inputs:
      scenarioName:
        type: string
        required: true
      runner:
        type: string
        required: true
      mode:
        type: string
        required: true
      gateway:
        type: string
        required: true
      vu:
        type: number
        required: true
      time:
        type: string
        required: true
      cpuLimit:
        type: string
        required: true
      memoryLimit:
        type: string
        required: true
      subgraphDelay:
        type: number
        default: 0
      fork:
        type: number
        required: true
      waitForUrl:
        type: string

jobs:
  test:
    runs-on: ${{ startsWith(inputs.runner, '{') && fromJSON(inputs.runner) || inputs.runner }}
    name: ${{ inputs.gateway }}
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: setup node
        uses: the-guild-org/shared-config/setup@v1
        with:
          node-version-file: .node-version

      - name: setup rust
        uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2

      - name: run subgraphs
        run: |
          make run-subgraphs &
        env:
          SUBGRAPH_DELAY_MS: ${{ inputs.subgraphDelay }}

      - uses: grafana/setup-k6-action@ffe7d7290dfa715e48c2ccc924d068444c94bde2 # v1

      - name: install
        run: ./install.sh
        working-directory: gateways/${{ inputs.gateway }}

      - name: configure eqemu
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
        with:
          platforms: "linux/arm64,linux/amd64"

      - name: configure docker buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: login to docker registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Metrics Container
        run: |
          docker compose -f docker-compose.metrics.yaml up -d --wait --force-recreate --build

      - name: wait for subgraphs
        uses: iFaxity/wait-on-action@main
        with:
          resource: http://localhost:4200/health

      - name: run benchmark (${{ inputs.time }})
        timeout-minutes: 600
        run: make test gateway=${{ inputs.gateway }} mode=${{ inputs.mode }}
        env:
          BENCH_VUS: ${{ inputs.vu }}
          BENCH_OVER_TIME: ${{ inputs.time }}
          MEM_LIMIT: ${{ inputs.memoryLimit }}
          CPU_LIMIT: ${{ inputs.cpuLimit }}
          FORK: ${{ inputs.fork }}
          WAIT_FOR_URL: ${{ inputs.waitForUrl }}

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        if: always()
        with:
          name: ${{ inputs.scenarioName }}_${{ inputs.gateway }}
          path: |
            gateways/${{ inputs.gateway }}/k6_summary.json
            gateways/${{ inputs.gateway }}/k6_summary.txt
            gateways/${{ inputs.gateway }}/gateway_log.txt
            gateways/${{ inputs.gateway }}/*.png
            gateways/${{ inputs.gateway }}/data.csv
            gateways/${{ inputs.gateway }}/stats.json
