name: 'Images Cleanup'

on:
  schedule:
    # Run every hour
    - cron: '0 * * * *'
  workflow_dispatch: {}

jobs:
  report:
    runs-on: ubuntu-24.04
    name: report
    steps:
      - name: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: 24.11

      # run script with 30m timeout
      - name: cleanup images
        env:
          CF_IMAGES_LINK: ${{ secrets.CF_IMAGES_LINK }}
          CF_IMAGES_TOKEN: ${{ secrets.CF_IMAGES_TOKEN }}
        run: node --experimental-strip-types ./scripts/images-cleanup.ts
        timeout-minutes: 30

