name: 'Images Cleanup'

on:
  schedule:
    # Run every hour
    - cron: '0 * * * *'
  workflow_dispatch: {}

jobs:
  report:
    runs-on: ubuntu-24.04
    name: report
    steps:
      - name: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: setup node
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version: 22.19

      # run script with 30m timeout
      - name: cleanup images
        env:
          CF_IMAGES_LINK: ${{ secrets.CF_IMAGES_LINK }}
          CF_IMAGES_TOKEN: ${{ secrets.CF_IMAGES_TOKEN }}
        run: node --experimental-strip-types ./scripts/images-cleanup.ts
        timeout-minutes: 30

