name: 'Images Cleanup'

on:
  schedule:
    # Run every hour
    - cron: '0 * * * *'
  workflow_dispatch: {}

jobs:
  report:
    runs-on: ubuntu-24.04
    name: report
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24.13

      # run script with 30m timeout
      - name: cleanup images
        env:
          CF_IMAGES_LINK: ${{ secrets.CF_IMAGES_LINK }}
          CF_IMAGES_TOKEN: ${{ secrets.CF_IMAGES_TOKEN }}
        run: node --experimental-strip-types ./scripts/images-cleanup.ts
        timeout-minutes: 30

