on:
  workflow_call:
    inputs:
      scenarioName:
        type: string
        required: true

jobs:
  report:
    runs-on: ubuntu-24.04
    name: report
    permissions: write-all
    steps:
      - name: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: download artifacts
        id: download
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          path: artifacts

      - name: setup node
        uses: the-guild-org/shared-config/setup@v1
        with:
          node-version-file: .node-version

      - name: generate report
        run: npm run generate-report ${{ steps.download.outputs.download-path }}
        env:
          SCENARIO_ARTIFACTS_PREFIX: ${{ inputs.scenarioName }}_
          SCENARIO_TITLE: ${{ inputs.scenarioName }}
          CF_IMAGES_LINK: ${{ secrets.CF_IMAGES_LINK }}
          CF_IMAGES_TOKEN: ${{ secrets.CF_IMAGES_TOKEN }}

      - name: publish report (pull_request)
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2
        if: github.event_name == 'pull_request'
        with:
          header: ${{ inputs.scenarioName }}
          path: result.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: update summary
        run: cat result.md >> $GITHUB_STEP_SUMMARY && mv result.md ${{ inputs.scenarioName }}_result.md

      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: publish report (workflow_dispatch/push)
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9
        if: github.event_name == 'workflow_dispatch' || github.event_name == 'push'
        with:
          add: ${{ inputs.scenarioName }}_result.md${{ contains(inputs.scenarioName, 'delay') && '' || (contains(inputs.scenarioName, 'constant') && ' website/constant-data.csv' || ' website/stress-data.csv') }}
          message: "Update results for scenario: ${{ inputs.scenarioName }}"
          pull: "--rebase --autostash"
          author_email: github-actions@github.com
          author_name: github-actions
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        if: always()
        with:
          name: ${{ inputs.scenarioName }}-report
          path: |
            ${{ inputs.scenarioName }}_result.md
            ${{ inputs.scenarioName }}_report.vega.json
            ${{ inputs.scenarioName }}_report.svg
            website/${{ contains(inputs.scenarioName, 'constant') && 'constant' || 'stress'}}-data.csv
