on:
  workflow_call:
    inputs:
      scenarioName:
        type: string
        required: true

jobs:
  report:
    runs-on: ubuntu-24.04
    name: report
    steps:
      - name: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: download artifacts
        id: download
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5
        with:
          path: artifacts

      - name: setup node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 24

      - name: install dependencies
        run: yarn install

      - name: generate report
        run: yarn generate-report ${{ steps.download.outputs.download-path }}
        env:
          SCENARIO_ARTIFACTS_PREFIX: ${{ inputs.scenarioName }}_
          SCENARIO_TITLE: ${{ inputs.scenarioName }}
          CF_IMAGES_LINK: ${{ secrets.CF_IMAGES_LINK }}
          CF_IMAGES_TOKEN: ${{ secrets.CF_IMAGES_TOKEN }}

      - name: publish report (pull_request)
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2
        if: github.event_name == 'pull_request'
        with:
          header: ${{ inputs.scenarioName }}
          path: result.md
        env:
          GITHUB_TOKEN: ${{ secrets.githubToken }}

      - name: update summary
        run: cat result.md >> $GITHUB_STEP_SUMMARY && mv result.md ${{ inputs.scenarioName }}_result.md

      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: publish report (workflow_dispatch/push)
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9
        if: github.event_name == 'workflow_dispatch' || github.event_name == 'push'
        with:
          add: .
          message: "Update results for scenario: ${{ inputs.scenarioName }}"
          pull: "--rebase --autostash"
          author_email: github-actions@github.com
          author_name: github-actions
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        if: always()
        with:
          name: ${{ inputs.scenarioName }}-report
          path: |
            ${{ inputs.scenarioName }}_result.md
            ${{ inputs.scenarioName }}_report.vega.json
            ${{ inputs.scenarioName }}_report.svg
            website/${{ contains(inputs.scenarioName, 'constant') && 'constant' || 'ramping'}}-data.csv
